{% extends 'base.html' %} {% block title %}Add Contact{% endblock %} 
<!-- Side nav -->
{% block content %}
<div class="ui grid flex-1">
  <div class="three wide column">
    <div class="ui vertical fluid tabular menu">
      <a class="item" href="{% url 'index' %}">
        Dashboard
      </a>
      <a class="item" href="{% url 'category' %}">
        Categories
      </a>
      <a class="item active" href="{% url 'add_contact' %}">
        New Contact
      </a>
      <a class="item" href="{% url 'history' %}">
            Message History
      </a>
      <a class="item">
        Admin
      </a>
    </div>
  </div>
  <div class="thirteen wide stretched column">
    <div class="border-t border-r border-l border-gray-400 p-20 mr-4">
      <div class="h-auto">
        <div class="flex justify-center">
            <div class="flex-auto text-4xl text-gray-600 pb-6 border-b-2 border-gray-300 max-w-5xl">
                Registere New Contact
              </div>
        </div>
        <div class="flex justify-center">
            <div class="flex-auto my-5 max-w-5xl">
                <form method="POST" class="ui form right floated">
                    {% csrf_token %}
                    <div class="field">
                      <label for="">Contact Name:</label>
                      <input type="text" name="name" id="" placeholder="eg. Foo Bar">
                    </div>
                    <div class="field">
                        <label for="">Phone Number:</label>
                        <input type="number" name="phone" id="" placeholder="eg. 0757977943">
                    </div>
                    <div class="field">
                      <label>Category</label>
                      <select name="category">
                        
                        {% for category in category_list %}
                        <option value="{{category.id}}">{{category.name}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <button type="submit" class="ui right floated small primary labeled icon button">
                        <i class="plus icon"></i> Add
                      </button>
                  </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} 
