{% extends 'base.html' %} {% block title %}Category{% endblock %}
<!-- Side nav -->
{% block content %}
<div class="ui grid">
  <div class="three wide column">
    <div class="ui vertical fluid tabular menu">
      <a class="item" href="{% url 'index' %}">
        Dashboard
      </a>
      <a class="item" href="{% url 'category' %}">
        Categories
      </a>
      <a class="item" href="{% url 'add_contact' %}">
        New Contact
      </a>
      <a class="item" href="{% url 'history' %}">
        Message History
      </a>
      <a class="item" href="http://127.0.0.1:8000/admin/">
        Admin
      </a>
    </div>
  </div>
  <div class="thirteen wide stretched column">
    <div class="border-t border-r border-l border-gray-400 p-20 mr-4">
      <div class="h-auto">
        <div class="text-4xl text-gray-600">{{ category.name }} Details</div>
        <div class="bg-gray-300 mt-5 rounded-lg p-4">
          <div class="text-xl text-gray-600">
            Total number of contacts :
            <span class="text-4xl font-bold text-blue-400">
              {{ category.contact_set.count }}</span>
          </div>
          <div class="text-gray-700 mt-4">
            List of contacts:
            <table class="ui compact table striped celled blue">
              <thead>
                <tr>
                  <th>Cntact Name</th>
                  <th>Phone Number</th>
                  <th>Added On</th>
                </tr>
              </thead>
              <tbody>
                {% for contact in category.contact_set.all %}
                <tr>
                  <td>
                    <a href="{% url 'category-detail' category.id %}" class="text-blue-600">{{ contact.name }}</a>
                  </td>
                  <td>0{{ contact.phone }}</td>
                  <td>{{ contact.date_registered }}</td>
                </tr>

                {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                  <th colspan="4">
                    <a class="ui right floated small primary labeled icon button" href="{% url 'add_contact' %}">
                      <i class="plus icon"></i> add contact
                    </a>
                  </th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}