{% extends 'base.html' %} {% block title %}Category{% endblock %}
<!-- Side nav -->
{% block content %}
<div class="ui grid flex-1">
  <div class="three wide column">
    <div class="ui vertical fluid tabular menu">
      <a class="item" href="{% url 'index' %}">
        Dashboard
      </a>
      <a class="item" href="{% url 'category' %}">
        Categories
      </a>
      <a class="item" href="{% url 'add_contact' %}">
        New Contact
      </a>
      <a class="item active" href="{% url 'history' %}">
        Message History
      </a>
      <a class="item">
        Admin
      </a>
    </div>
  </div>
  <div class="thirteen wide stretched column">
    <div class="border-t border-r border-l border-gray-400 p-20 mr-4">
      <div class="h-auto">
        <div class="text-4xl text-gray-600">Messages History</div>
        <div class="my-4">
          <span class="font-bold text-gray-700">Summary:</span>
          <span class="text-gray-600 ml-10">Total sent messages: {% if counts %}{{counts}}{% else %}0{% endif %}</span>
          <span class="text-gray-600 ml-10">Last sent: 12,feb,2019</span>
        </div>
        <div>
          {% if info %}

          <div class="p-4 bg-green-100 border-2 border-green-300 text-green-500 font-semibold my-4 rounded-lg">
            {{info}}
          </div>
          {% endif %}

          {% if history %}
          <div class="text-xl text-gray-700 border-b border-gray-400">
            List Of Messages
          </div>
          {% for single_history in history %}
          <div class="bg-white py-4">
            <div class="bg-gray-100 p-4 rounded-lg">
              <div>
                MESSAGE:01
              </div>
              <span class="text-gray-700">Sent To:</span>
              <p class="text-blue-600">
                {{single_history.recipients}}
              </p>
              <br />
              <span class="text-gray-700">Text:</span>
              <p class="text-blue-600 bg-white italic pb-10 rounde-lg">
                {{single_history.text}}
              </p>
              <br />
              <span class="text-gray-700">Timestamp:</span>
              <span class="text-blue-600">
                {{single_history.timestamp}}
              </span>
              </p>
              <br />
              <span class="text-gray-700">Category:</span>
              <span class="text-blue-600">
                {{single_history.category}}
              </span>
            </div>
          </div>
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}