{% extends 'base.html' %} {% block title %}Category{% endblock %}
<!-- Side nav -->
{% block content %}
<div class="ui grid flex-1">
  <div class="three wide column">
    <div class="ui vertical fluid tabular menu">
      <a class="item" href="{% url 'index' %}">
        Dashboard
      </a>
      <a class="item" href="{% url 'category' %}">
        Categories
      </a>
      <a class="item" href="{% url 'add_contact' %}">
        New Contact
      </a>
      <a class="item active" href="{% url 'history' %}">
        Message History
      </a>
      <a class="item" href="http://127.0.0.1:8000/admin/">
        Admin
      </a>
    </div>
  </div>
  <div class="thirteen wide stretched column">
    <div class="border-t border-r border-l border-gray-400 p-20 mr-4">
      <div class="h-auto">
        <div class="text-4xl text-gray-600">Messages History</div>
        <div class="my-4">
          <span class="font-bold text-gray-700">Summary:</span>
          <span class="text-gray-600 ml-10">Total sent messages: {% if counts %}{{counts}}{% else %}0{% endif %}</span>
          <span class="text-gray-600 ml-10">Last sent: 12,feb,2019</span>
        </div>
        <div>
          {% if info %}

          <div class="p-4 bg-green-100 border-2 border-green-300 text-green-500 font-semibold my-4 rounded-lg">
            {{info}}
          </div>
          {% endif %}

          {% if history %}
          <div class="text-xl text-gray-700 border-b border-gray-400">
            List Of Messages
          </div>
          {% for single_history in history %}
          <div class="bg-white py-4">
              <div role="alert">
                  <div class="bg-blue-500 text-white font-bold rounded-t px-4 py-2">
                    <span class="font-bold">Send To: </span><span>{{single_history.recipients}}</span>
                  </div>
                  <div class="border border-t-0 border-blue-400 rounded-b bg-blue-100 px-4 py-3 text-blue-700">
                      <span class="text-gray-700">Message:</span>
                      <div class="select-all">
                      <p class="text-blue-600 ">
                        {{single_history.text | linebreaks}}
                      </p>
                    </div>
                      <br />
                      <span class="text-gray-700">Time:</span>
                      <span class="text-blue-600">
                        <i>{{single_history.timestamp}}</i>
                      </span>
                      <span class="text-gray-700">Category:</span>
                      <span class="text-blue-600">
                        {{single_history.category}}
                      </span>
                  </div>
                </div>
          </div>
          {% endfor %}
          <div class="ui pagination menu right floated">
                    
              {% if is_paginated %}
               {% if page_obj.has_previous %}
                 <a href="?page=1" class="item"><i class="angle double left icon"></i> first</a>
                  <a href="?page={{ page_obj.previous_page_number }}" class="item"><i class="angle left icon"></i> previous</a>
               {% endif %}
     
               <span class="item">
                   Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
               </span>
     
               {% if page_obj.has_next %}
                   <a href="?page={{ page_obj.next_page_number }}" class="item">next<i class="angle right icon"></i></a>
                   <a href="?page={{ page_obj.paginator.num_pages }}" class="item">last <i class="angle double right icon"></i></a>
               {% endif %}
          {% endif %}
       
         </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}