{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% block title %}Home{% endblock %}
{% block scripts %}
<script>
  function countChar(val) {
    var len = val.value.length;
    if (len >= 160) {
      val.value = val.value.substring(0, 160);

    } else {
      $("#charNum").text(160 - len);
    }
  }


</script>

{% endblock %}
{% block content %}
<!-- Side nav -->
<div class="ui grid ">
  <div class="three wide column">
    <div class="ui vertical fluid tabular menu">
      <a class="item active">
        Dashboard
      </a>
      <a class="item" href="{% url 'category' %}">
        Categories
      </a>
      <a class="item" href="{% url 'add_contact' %}">
        New Contact
      </a>
      <a class="item" href="{% url 'history' %}">
        Message History
      </a>
      <a class="item" href="http://127.0.0.1:8000/admin/">
        Admin
      </a>
    </div>
  </div>


  <div class="thirteen wide stretched column">
    <div class="border-t border-r border-l border-gray-400 p-20 mr-4">
      <div class="h-auto">
        <!-- STATISTICS  -->
        {% if error %}
        <div role="alert" class="mb-8">
            <div class="bg-red-500 text-white font-bold rounded-t px-4 py-2">
              Error!
            </div>
            <div class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700">
              <p>{{error}}.</p>
            </div>
          </div>
        {% endif %}
        {% if success %}
        <div role="alert" class="mb-8">
            <div class="bg-green-500 text-white font-bold rounded-t px-4 py-2">
              Success!
            </div>
            <div class="border border-t-0 border-green-400 rounded-b bg-green-100 px-4 py-3 text-green-700">
              <p>{{success}}.</p>
            </div>
          </div>
        {% endif %}
        <div class="flex border-b-2 border-blue-100 items-center h-auto">
          <h1 class="flex-1 text-center text-4xl font-sans text-gray-600">Statistics</h1>
          <div class="flex-1 bg-white items-baseline">
            <div class="flex items-baseline">
              <div class="flex-initial bg-gray-100 p-2 rounded-full">
                <div class="text-6xl text-blue-500">
                  {% if t_categories %}
                  {% if t_categories >= 99 %}
                  <h1>{{t_categories}}</h1>
                  {% else %}
                  <h1>{{t_categories|stringformat:"03d"}}</h1>
                  {% endif %}
                  {% else %}
                  <h1>0</h1>
                  {% endif %}
                </div>
              </div>
              <div class="flex-initial">
                <span class="text-2xl text-gray-600 uppercase font-semibold tracking-tighter">Registered
                  Categories</span>
              </div>
            </div>
          </div>
          <div class="flex-1">
            <div class="flex items-baseline">
              <div class="flex-initial bg-gray-100 p-2 rounded-full">
                <div class="text-6xl text-blue-500">
                  {% if t_contacts %}
                  {% if t_contacts >= 99 %}
                  <h1>{{t_contacts}}</h1>
                  {% else %}
                  <h1>{{t_contacts|stringformat:"03d"}}</h1>
                  {% endif %}
                  {% else %}
                  <h1>0</h1>
                  {% endif %}
                </div>
              </div>
              <div class="flex-initial">
                <span class="text-2xl text-gray-600 uppercase font-semibold tracking-tighter">Total Contacts</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- STATISTICS end -->

      <!-- CONTACTS list -->
      <div class="mt-8">
        <!-- Filter -->
        <div class="flex justify-end items-center border-b-2 border-gray-300 pb-4">
          <div class="flex-auto header mr-10">
            <h1>Contacts List</h1>
          </div>
          <div class="flex-none mr-3">

            <form class="ui form" method="POST" action="{% url 'contacts_list' %}">
              {% csrf_token %}
              <div class=" inline field">

                <label for='filter'>Filter Contacts</label>
                <select name="category" id="filter">
                  {% if active_cat %}
                  <option value="{{active_cat.id}}">{{active_cat.name}}</option>
                  {% endif %}
                  {% if categories or active_cat %}
                  {% for category in categories %}
                  <option value="{{category.id}}">{{category.name}}</option>
                  {% endfor %}
                  {% else %}
                  <option value="">Please register category</option>
                  {% endif %}
                </select>

              </div>
              {% if t_categories == 0 %}
              <button type="button"
                class="bg-blue-500 text-white px-3 py-2 rounded uppercase font-semibold hover:bg-blue-400 cursor-not-allowed opacity-50">filter
              </button>
              {% else %}
              <button type="submit"
                class="bg-blue-500 text-white px-3 py-2 rounded uppercase font-semibold hover:bg-blue-400">filter
              </button>
              {% endif %}
            </form>
          </div>
        </div>
        <!-- Filter End -->

        <!-- Contacts list -->
        <!-- <div class="overflow-auto h-64 mt-1"> -->
       
        {% if contact_list_table %}
        {% if has_contacts %}
        <form method="POST" action='{% url 'sendsms' %}'>
          {% csrf_token %}
          {% render_table contact_list_table %}
          <div class="pl-3">
            <input type="checkbox" name="selectall" id="selectallid">
            <label for="selectallid" class="text-gray-800">To All</label>

          </div>
          <div class="mt-16">
            <tr>
              <td colspan="12">
                <div class="rounded-lg py-3">
                  <div class="ui form">
                    <div class="ui inline field">
                     
                      <label for="msg">Write the message(<span id="charNum">160</span>) : </label>
                      <textarea name="message" id="msg" rows="6" onkeyup="countChar(this)" maxlength="160" required
                        style="white-space: pre-wrap"></textarea>
                      {% if active_cat %}
                      <input type="hidden" name="category" value="{{active_cat}}">
                      {% else %}
                      <input type="hidden" name="category" value="{{first_category}}">
                      {% endif %}
                    </div>
                    <div class="my-3">
                      <button type="submit" class="ui right floated small primary labeled icon button">
                        <i class="paper plane icon"></i> Send Message
                      </button>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </div>
        </form>
        {% else %}
        
        <div class="bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md mb-56" role="alert">
            <div class="flex">
              <div class="py-1"><svg class="fill-current h-6 w-6 text-teal-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
              <div>
                <p class="font-bold">Attention!</p>
                <p class="text-sm">{% if active_cat %}{{active_cat}} has no registered contacts. {% else %} Please register contacts to this category.{% endif %}</p>
              </div>
            </div>
          </div>
        {% endif %}
        {% else %}
        <div class="bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md mb-56" role="alert">
            <div class="flex">
              <div class="py-1"><svg class="fill-current h-6 w-6 text-teal-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
              <div>
                <p class="font-bold">Attention!</p>
                <p class="text-sm">Please add category first.</p>
              </div>
            </div>
          </div>
        {% endif %}
       
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}